parameters:
    level: max
    paths:
        - app
        - config.php
    ignoreErrors:
        - '#Binary operation .+ between .+ and .+ results in an error#'
    reportUnmatchedIgnoredErrors: false
